@{
    ViewBag.Title = "About Gabriel Morrison";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    I am a senior at Ohio University studying Management Information Systems and Business Analytics with a minor in Computer Science.
    This site was made as a part of my work in the MIS4200 course provided by Ohio University and in this particular page I'd love to tell you a little more about myself.
    The first programming language I ever learned was HTML, which kickstarted what is now 10 years of programming experience in HTML, C, C++, C#, SQL, R, Java, and Python.
    I chose to get involved with MIS as a sophomore after I realized that working with people was more important to me than anything that a CS degree could offer.
    On campus I have been involved in ISAP, Bobcat Tabletop, and I am currently working at the OIT Service Desk. 
    After graduation, I will be working for Infoverity, a technology consulting firm, in Dublin, Ohio.
    In my spare time I enjoy playing games with my friends, here is a quick list of what we have been playing recently:<br />
    <br />
    Chess <br />
    Rummy <br />
    Ticket to Ride <br />
    Catan <br />
    Keyforge <br />
    Pokemon TCG <br />
    <br />
    If you're interested getting in touch, be sure to navigate to the Contact page for more information. Thanks for reading!
</p>
