@{
    ViewBag.Title = "Contact Gabriel Morrison";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    234 W Washington St. Apt. 5<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    740-975-7328<br />
    <abbr title="Email">E:</abbr>
    <a href="mailto:gm554016@ohio.edu">gm554016@ohio.edu</a>
</address>

<address>
    To reach out via social media:<br />
    <a href="https://www.linkedin.com/in/00-gabriel-morrison/"><strong>LinkedIn</strong></a><br />
    <a href="https://twitter.com/00GMo"><strong>Twitter</strong></a>
</address>